/mysql-data/
/mysql-data/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/
/storage/framework/*
/storage/pager.txt
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.env
.env-prd
comandos.txt
app.log
php_errors.log
/.phpintel
/.phpintel/*
error_log
/dropbox/
/dropbox/*


.DS_Store
/.DS_Store
/*/.DS_Store


