/mysql-data/
/mysql-data/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env-prd
comandos.txt
app.log
php_errors.log
/.phpintel
/.phpintel/*
error_log

